.scratch-card {
  background: #fff;
  border: 1px solid #cdc1ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  width: 70%;
  text-align: center;
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.scratch-card.blurred {
  filter: blur(8px);
  user-select: none;         /* Prevent text selection */
}

a {
  color: #5db8df;
}

a:hover,
a:focus,
a:active,
a:visited {
  color:  #5db8df;
}

.scratch-card.blurred * {
  pointer-events: none;
}